.mdl-navigation__link:hover {
  background-color: #104ac9;
}
.mdl-mini-footer__link-list li a:hover {
  color: #bbb;
}
body {
  background: #efefef;
}
.nostyle {
  text-decoration: none;
}
.containerCard {
  width: 100%;
  height: 100%;
}
.mybutton {
  display: none;
}
.mytitle {
  text-align: center;
}
.myfooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.list {
  margin: 30px auto;
  max-width: 720px;
}
.list .card {
  background: #fff;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 #666;
  height: 125px;
  transition: all 0.3s ease;
}
.list .card:hover {
  background-color: #fafafa;
}
.list .card.active {
  margin: 30px -30px;
  border: 0;
  height: 250px;
  position: relative;
  z-index: 1;
}
/* ink effect on buttons */
.ripple {
  position: relative;
  overflow: hidden;
}
.ripple .ink {
  display: block;
  position: absolute;
  background-color: #ccc;
  border-radius: 100%;
  transform: scale(0);
}
.ripple .ink.animate {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}
/* ink animation effect */
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(3);
  }
}
