footer.mdl-mini-footer
    .mdl-mini-footer__left-section
        .mdl-logo Next Generation Web
        ul.mdl-mini-footer__link-list
            li
                a(href='https://github.com/Newtchuck/Semantic-web-app/tree/master') Source code
            li
                a(href='#') More info
            li
                | &copy;&nbsp;
                #[a(href='https://github.com/Newtchuck') Thanh-Truc] & #[a(href='https://kevinpoirot.visualstudio.com') Kevin POIROT] @2018