header.mdl-layout__header
    .mdl-layout__header-row
        span.mdl-layout-title
            | Next Generation Web
        .mdl-layout-spacer
        nav.mdl-navigation.mdl-layout--large-screen-only
            a.mdl-navigation__link.mdl-typography--text-uppercase(href='/') Home
            a.mdl-navigation__link.mdl-typography--text-uppercase(href='/about') Error handling
            a.mdl-navigation__link.mdl-typography--text-uppercase(href='https://dribbble.com/sweetness-every-day') Pictures from
.mdl-layout__drawer.mdl-layout--small-screen-only
    span.mdl-layout-title
        | Menu
    nav.mdl-navigation
        a.mdl-navigation__link.mdl-typography--text-uppercase(href='/') Home
        a.mdl-navigation__link.mdl-typography--text-uppercase(href='/about') Error handling
        a.mdl-navigation__link.mdl-typography--text-uppercase(href='https://dribbble.com/sweetness-every-day') Pictures from
