header.mdl-layout__header
    .mdl-layout__header-row
        span.mdl-layout-title
            | Next Generation Web
        .mdl-layout-spacer
        nav.mdl-navigation.mdl-layout--large-screen-only
            a.mdl-navigation__link.mdl-typography--text-uppercase(href='/') Home
            a.mdl-navigation__link.mdl-typography--text-uppercase(href='/about') About
            a.mdl-navigation__link.mdl-typography--text-uppercase(href='/contact') Contact
.mdl-layout__drawer
    span.mdl-layout-title
        | Next Generation Web2
    nav.mdl-navigation
        a.mdl-navigation__link.mdl-typography--text-uppercase(href='/') Home
        a.mdl-navigation__link.mdl-typography--text-uppercase(href='/about') About
        a.mdl-navigation__link.mdl-typography--text-uppercase(href='/contact') Contact