extends layout

block content
    - var unknown="(value not found)"
    .mdl-grid
        .mdl-cell.mdl-cell--12-col
            h1.mytitle #{title}
            div.card-container
                for item in results
                    - var Name= (item.name.value.length >= 17 ? item.name.value.substring(0, 17) + "..." : item.name.value);
                    - var County= (item.county !== undefined ? item.county.value : unknown);
                    - var HCode= item.code.value;
                    - var Website= (item.homepage !== undefined ? item.homepage.value : unknown);
                    - var Email=(item.email !== undefined ? item.email.value : unknown);
                    div.card
                        div.card-image
                        div.card-info
                            div.card-title= Name
                            div.card-detail= "The " + item.name.value + "'s building is located at " + County + "(code " + HCode + ").\nYou can contact them by:"
                                ul
                                    li: p="email: " + Email
                                    li: p="their website:" + Website
                        div.card-social
                            ul: li: a.nostyle(href="http://localhost:3000/hospital/" + HCode) More information