extends layout

block content
    - var unknown="(value not found)"
    .mdl-grid
        .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable
            label.mdl-button.mdl-js-button.mdl-button--icon(for="sample6")
                i.material-icons= "search"
            .mdl-textfield__expandable-holder
                input.mdl-textfield__input(type="text", id="sample6" onkeyup("filterThis"))
                label.mdl-textfield__label(for="sample-expandable">Expandable)= Input
        .mdl-cell.mdl-cell--12-col
            div.card-container
                for item in results
                    - var Name= (item.name.value.length >= 17 ? item.name.value.substring(0, 17) + "..." : item.name.value);
                    - var County= (item.county !== undefined ? item.county.value : unknown);
                    - var HCode= item.code.value;
                    - var Website= (item.homepage !== undefined ? item.homepage.value : unknown);
                    - var Email=(item.email !== undefined ? item.email.value : unknown);
                    div.card
                        div.card-image
                        div.card-info
                            div.card-title= Name
                            div.card-detail= "The " + item.name.value + "'s building is located at " + County + "(code " + HCode + ").\nYou can contact them by:"
                                ul
                                    li: p="email: " + Email
                                    li: p="their website:" + Website
                        div.card-social
                            ul: li: a.nostyle(href="http://localhost:3000/hospital/" + HCode) More information